@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




@*<section class="bg-dark">
<!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
    <div class="carousel-indicators ali">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active" style=" max-height=300px">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" alt="Los Angeles" class="d-block" style="width:100%">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
            <button type="button" class="btn btn-primary">Learn More</button>
        </div>
    </div>
    <div class="carousel-item" style="max-height:300px">
      <img src="~/sample image.jpg" alt="Chicago" class="d-block" style="width:100%">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
        <button type="button" class="btn btn-primary">Learn More</button>
      </div>
    </div>
    <div class="carousel-item" style="max-height:300px">
      <img src="~/sample image.jpg" alt="New York" class="d-block" style="width:100%">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
        <button type="button" class="btn btn-primary">Learn More</button>
      </div>
  </div>
  
  <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    </button>
   </div>
   </div>
</section>

<section class="bgcolor-orange text-light my-5 p-5">
    <div class="container">
        <div class="d-lg-flex justify-content-lg-between">
            <div class="p-2">
                <h3 class="mb-3">
                    <u>Message from Employee</u>
                </h3>
                <p>
                    This is the random message from developer as jfirjfijrfijigjrjgrjg.
                    forjgijrigjirgjlf'pelfprlflepflpefplgrorkgorkgrkgrkgkrgkrgkrgkovkokokf'
                </p>
            </div>
            <div>
                <img class="img-thumbnail"src="~/photo.jpeg" alt= "" style="max-height:200px" />
                <p>Er. Akhilesh Mishra</p>
                <p>Civil Engineer</p>
            </div>
            
        </div>
    </div>
</section>*@

<!--Intro Slider-->
<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  @for(int i=0;i<3;i++)
    {
        <div class="mySlides fade">
            <div class="numbertext">@i.ToString() / 3</div>
            <img src="~/sample image.jpg" style="width:100%; height: 100px">
            <div class="text">Caption Text</div>
        </div>
    }
    

  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>

<section class="welcome-section">
    <div class="auto-container">
        <div class="sec-title centered">
            <h2>
                Welcome to <span style="color:chocolate">Realpath Engineering Consultancy</span>
            </h2>
        </div>
        <div class="row clearfix">
            @for(int i=1; i<=3;i++)
            {           
            <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
                <div class="inner-box">
                    <div class="image">
                        <a asp-page="/Services/Index">
                            <img src="/sample image.jpg" alt=""/>
                        </a>
                    </div>
                    <div class="lower-content">
                        <h3>
                            <a href="#">Airport Design</a>
                        </h3>
                        <div class="text">
                            Costs are closely monitored construction and you receive a monthly report, including your contingency balance...
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
       <div class="d-flex" style="position:relative;justify-content:center;">
           <button class="btn-style-one">More</button>
       </div>
    </div>
</section>

<!--Projects Sections-->
<section class="project-section fullwidth-galley padd-bottom-50">
    <div class="auto-container">
        <!--Project Title-->
        <div class="sec-title light">
            <h2>
                Our Projects
            </h2>
        </div>
    </div>
    <!--Sortable Gallery-->
    <div class="mixitup-gallery">
        <div class="auto-container position-relative">
            <div class="filters style-two clearfix">
                <ul class="filter-tabs filter-btn">
                    <li class="filter active" data-role="button" data-filter="all">Airport</li>
                    @for(int i=1;i<=3;i++)
                    {
                        <li class="filter active" data-role="button" data-filter="all">Airport</li>
                    }                       
                </ul>
            </div>
        </div>
        <div class="filter-list clearfix" id="MixItUpC2F288" style="margin: 0 10px 0 0">
            @for(int i=0;i<5;i++)
            {
                <!--Gallery Item Three-->
            <div class="gallery-item-three mix all" style="display: inline-block;">
                <div class="inner-box">
                    <div class="image">
                        <img src="~/sample image.jpg" alt="">
                        <div class="overlay-box">
                            <div class="option-box">
                                <a href="services-single.html" class="image-link"><span class="icon fa fa-link"></span></a>
                            </div>
                            <div class="content">
                                <h3><a href="#">Building Construction</a></h3>
                                <div class="category">House, Repair</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            }               
        </div>
        <div class="d-flex" style="position:relative;justify-content:center; margin-top: 20px">
           <button class="btn-style-one">More</button>
       </div>
    </div>
</section>

<!--About Us Section-->
<section class="about-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!--Column-->
            <div class="about-column col-md-8 col-sm-12 col-xs-12">
                <!--Sec Title-->
                <div class="sec-title">
                    <h2>Know About Us</h2>
                </div>
                <div class="row clearfix">
                    <div class="inner-image-column col-md-4 col-sm-5 col-xs-12">
                        <div class="image">
                            <img src="~/about.jpg" alt="">
                        </div>
                    </div>
                    <div class="inner-content-column col-md-8 col-sm-7 col-xs-12">
                        <div class="text">
                            <p>When you give to Our Industry, know your donation is making a difference whether you are supporting our signature Programs or our carefully curated list of gifts that professional.</p>
                            <h3>History in Words</h3>
                            <p>We partner with over 320 amazing seds projects worldwide, and have given over million in cash &amp; product grants to other groups since 2015 our own dynamic suite.</p>
                            <p>There anyone who loves or pursues or desires to obtain pain of it is because seds all occasionally circumstances.</p>
                        </div>
                        <a href="about.html" class="theme-btn btn-style-one">Read More</a>
                    </div>
                </div>
            </div>
            <!--Column-->
            <div class="quote-column col-md-4 col-sm-12 col-xs-12">
                <div class="inner-column">
                    <!--Sec Title-->
                    <div class="sec-title centered">
                        <h2>Request for Quote</h2>
                    </div>
                        
                    <!-- Default Form -->
                    <div class="default-form">
                        <!--Comment Form-->
                        <form method="post" action="email.php">
                                
                            <div class="form-group">
                                <input type="text" name="name" placeholder="Your Name" required="">
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" placeholder="Email Address" required="">
                            </div>
                                
                            <div class="form-group">
                                <select name="services" class="custom-select-box" id="ui-id-1" style="display: none;">
                                    <option disabled="disabled" selected="">Subject</option>
                                    <option value="Building Construction">Building Construction</option>
                                    <option value="House Roomodel">House Roomodel</option>
                                    <option value="Interior Design">Interior Design</option>
                                    <option value="Renovation">Renovation</option>
                                    <option value="OutField Digging">OutField Digging</option>
                                    <option value="Road Construction">Road Construction</option>
                                    <option value="Floors &amp; Roofs">Floors &amp; Roofs</option>
                                    <option value="Plumbing">Plumbing</option>
                                    <option value="Electricity">Electricity</option>
                                </select><span tabindex="0" id="ui-id-1-button" role="combobox" aria-expanded="false" aria-autocomplete="list" aria-owns="ui-id-1-menu" aria-haspopup="true" class="ui-selectmenu-button ui-selectmenu-button-closed ui-corner-all ui-button ui-widget"><span class="ui-selectmenu-icon ui-icon ui-icon-triangle-1-s"></span><span class="ui-selectmenu-text">Subject</span></span>
                            </div>
								
                            <div class="form-group">
                                <button class="theme-btn btn-style-one" type="submit" name="submit-form">Get a Quote</button>
                            </div>
                                
                        </form>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
</section>





<!--Contact form-->
@*<section class="bg-black text-light text-center">
    <h1 class="py-5">Contact</h1>
    <form class="text-start">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group px-3 pb-3">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="GuestName" aria-describedby="emailHelp" placeholder="Full Name">
                </div>
                <div class="form-group px-3 pb-3">
                    <label for="exampleInputPassword1">Position</label>
                    <input type="text" class="form-control" id="GuestPosition" placeholder="">
                </div>
                <div class="form-group px-3 pb-3">
                    <label for="exampleInputPassword1">Addrress</label>
                    <input type="text" class="form-control" id="GuestAddress" placeholder="">
                </div>
             </div>
             <div class="col-md-4">
                 <div class="form-group px-3 pb-3">
                    <label for="exampleInputEmail1">Company</label>
                    <input type="text" class="form-control" id="GuestCompany" aria-describedby="" placeholder="">
                </div>
                <div class="form-group px-3 pb-3">
                    <label for="exampleInputPassword1">Phone Number</label>
                    <input type="text" class="form-control" id="GuestPhoneNumber" placeholder="">
                </div>
                <div class="form-group px-3 pb-3">
                    <label for="exampleInputPassword1">Email Address</label>
                    <input type="text" class="form-control" id="GuestEmailAddress" placeholder="">
                </div>
             </div>
             <div class="col-md-4">
                 <div class="form-group px-3 pb-3">
                    <label for="exampleInputEmail1">Message</label>
                    <input style="height:200px" type="text" class="form-control" id="GuestMessage" aria-describedby="" placeholder="Your Message to us">
                </div>
             </div>
        </div>
        <div class="row">
            <div class="text-center mb-3 pt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div> 
        </div>      
        </form>
</section>*@



