@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<section class="bg-dark">
<!-- Carousel -->
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
    <div class="carousel-indicators ali">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    </div>
  
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/Slides/img%20(15).webp" alt="Los Angeles" class="d-block" style="width:100%">
        <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>Some representative placeholder content for the first slide.</p>
            <button type="button" class="btn btn-primary">Learn More</button>
        </div>
    </div>
    <div class="carousel-item" style="max-height:500px">
      <img src="~/sample image.jpg" alt="Chicago" class="d-block" style="width:100%">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
        <button type="button" class="btn btn-primary">Learn More</button>
      </div>
    </div>
    <div class="carousel-item" style="max-height:500px">
      <img src="~/sample image.jpg" alt="New York" class="d-block" style="width:100%">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
        <button type="button" class="btn btn-primary">Learn More</button>
      </div>
  </div>
  
  <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
    </button>
   </div>
   </div>
</section>

<section class="bgcolor-orange text-light my-5 p-5">
    <div class="container">
        <div class="d-lg-flex justify-content-lg-between">
            <div class="p-2">
                <h3 class="mb-3">
                    <u>Message from Employee</u>
                </h3>
                <p>
                    This is the random message from developer as jfirjfijrfijigjrjgrjg.
                    forjgijrigjirgjlf'pelfprlflepflpefplgrorkgorkgrkgrkgkrgkrgkrgkovkokokf'
                </p>
            </div>
            <div>
                <img class="img-thumbnail"src="~/photo.jpeg" alt= "" style="max-height:200px" />
                <p>Er. Akhilesh Mishra</p>
                <p>Civil Engineer</p>
            </div>
            
        </div>
    </div>
</section>

<!--Contact form-->
<section class="bg-black text-light text-center">
    <h1 class="py-5">Contact</h1>
    <form class="text-start">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group px-3 pb-3">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" id="GuestName" aria-describedby="emailHelp" placeholder="Full Name">
                </div>
                <div class="form-group px-3 pb-3">
                    <label for="exampleInputPassword1">Position</label>
                    <input type="text" class="form-control" id="GuestPosition" placeholder="">
                </div>
                <div class="form-group px-3 pb-3">
                    <label for="exampleInputPassword1">Addrress</label>
                    <input type="text" class="form-control" id="GuestAddress" placeholder="">
                </div>
             </div>
             <div class="col-md-4">
                 <div class="form-group px-3 pb-3">
                    <label for="exampleInputEmail1">Company</label>
                    <input type="text" class="form-control" id="GuestCompany" aria-describedby="" placeholder="">
                </div>
                <div class="form-group px-3 pb-3">
                    <label for="exampleInputPassword1">Phone Number</label>
                    <input type="text" class="form-control" id="GuestPhoneNumber" placeholder="">
                </div>
                <div class="form-group px-3 pb-3">
                    <label for="exampleInputPassword1">Email Address</label>
                    <input type="text" class="form-control" id="GuestEmailAddress" placeholder="">
                </div>
             </div>
             <div class="col-md-4">
                 <div class="form-group px-3 pb-3">
                    <label for="exampleInputEmail1">Message</label>
                    <input style="height:200px" type="text" class="form-control" id="GuestMessage" aria-describedby="" placeholder="Your Message to us">
                </div>
             </div>
        </div>
        <div class="row">
            <div class="text-center mb-3 pt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div> 
        </div>      
        </form>
</section>



